@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body{
  background: linear-gradient(-45deg, #ac3999, #71c4a0, #203dcf7a, #195f8e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: "Press Start 2P";
    color: white;
    font-family: "Press Start 2P";
    margin: 10px;
}

  a:link {
    color: lightblue;
    text-decoration: none;
  }
  
  a:visited {
    color: lightblue;
    text-decoration: none;
  }
  
  a:hover {
    color: lightblue;
    text-decoration: none;
  }
  
  a:active {
    color: lightblue;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
 }
  
 .row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 0%;
  padding: 5px;
  margin: 0px;
}
  hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
}
.button{
  color: white;
}
.button {
  font-family: "Press Start 2P";
  padding: 15px 30px;
  font-size: 18px;
background-color: #ad47c6;
color: #ffffff;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
box-shadow: 0 0 10px rgb(196, 31, 214);
text-decoration: none;
display: inline;
margin: 0px;
margin-bottom: 10px;
}
.button:hover {
background-color: #8e348e;
transform: scale(1.1);
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
iframe{
  border: none;
}
#mrbeast{
  margin-left: 42.5%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#nav{
  margin-top: 1px;
  margin-left: 17%;
  background-color: rgb(176, 28, 176);
  border-radius: 20px;
  padding: 7px;
  width: 800px;
    box-shadow: 0 0 10px rgb(196, 31, 214);

}



#title{
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(196, 31, 214);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(176, 32, 192);

}
#slashest{
  margin-top: 5%;
}
#search{
  font-family: 'Press Start 2P';
  color: white;
  background-color: rgb(196, 31, 214);
  height: 50px;
  width: 600px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 5px;
  box-shadow: 0 0 10px rgb(176, 32, 192)
 
}
#search:focus{
  font-family: 'Press Start 2P';
  color: white;
  background-color: rgb(196, 31, 214);
  height: 50px;
  width: 600px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 5px;
  box-shadow: 0 0 10px rgb(176, 32, 192)
 
}
#search:select{
  font-family: 'Press Start 2P';
  color: white;
  background-color: rgb(196, 31, 214);
  height: 50px;
  width: 600px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 5px;
  box-shadow: 0 0 10px rgb(176, 32, 192)
 
}
#searc{
  font-family: 'Press Start 2P';
  color: white;
  background-color: rgb(196, 31, 214);
  height: 50px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  padding: 5px;
  box-shadow: 0 0 10px rgb(176, 32, 192)
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#row {
  display: block;
}

/* Create three equal columns that sits next to each other */
#column {
  flex: 0%;
  padding: 5px;
  margin: 0px;
}
#flex{
  text-align: center;
}
button {
  font-family: "Press Start 2P";
  padding: 15px 30px;
  font-size: 18px;
background-color: #ad47c6;
color: #ffffff;
border: none;
border-radius: 10px;
cursor: pointer;
transition: background-color 0.3s, transform 0.3s;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
box-shadow: 0 0 10px rgb(196, 31, 214);
text-decoration: none;
display: inline;
margin: 0px;
margin-bottom: 10px;

}
button:hover {
background-color: #8e348e;
transform: scale(1.1);
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
#interstellarsucks{
  text-align: center;
  background: linear-gradient(-45deg, #9e459b, #71c4a0, #f80faf7a, #195f8e);
  color: white;
  border-radius: 20px;
  border:none;
}
iframe{
  resize:both;
}